site_name: Jonas Pangerl
theme:
  name: material
  font:
    text: Inter
    code: "Fira Code"
  palette:
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

  features:
    - navigation.top
    - navigation.expand
    - search.suggest
    - content.code.copy
    - navigation.expand
    - navigation.indexes
    - content.code.copy
extra:
  font:
    text: Inter
    code: Fira Code
markdown_extensions:
  - attr_list
  - md_in_html
extra_css:
  - styles/extra.css

nav:
  - Home: index.md
  - Boundary Layer Tool: boundary_layer_tool.md
  - Journey to F1: journey-to-f1.md
  - Inside an F1 Aero Department:
      - f1-aero/index.md
      - Regulations: f1-aero/regulations.md
      - Aero Development: f1-aero/aerodynamicists.md
      - Surfacing: f1-aero/surfacers.md
      - Model Design: f1-aero/model-design.md
      - Wind Tunnel Testing: f1-aero/wt-testing.md
      - CFD: f1-aero/cfd.md
      - Software: f1-aero/software.md
      - Aero Performance: f1-aero/aero-performance.md
  - Resources: resources.md
  - Downloads: downloads.md
